<!doctype html>
<html lang="{{ site.lang | default: en-US }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% include head-custom.html %}
</head>

<body>
<div class="wrapper">
    <header>
        <body>
        <!--            <a href="/me">-->
        <pre class="main__title">
𝕋𝔸𝕐𝕃𝕆ℝ
𝕂𝕆𝕃𝕂𝕄𝔼𝕐𝔼ℝ

</pre>
        <!--            </a>-->
        <pre class="main__bio">
𝕊𝕆𝔽𝕋𝕎𝔸ℝ𝔼 𝔻𝔼𝕍𝔼𝕃𝕆ℙ𝔼ℝ,
𝕎ℝ𝕀𝕋𝔼ℝ.
𝕊𝔸𝕀ℕ𝕋 𝕃𝕆𝕌𝕀𝕊, 𝕄𝕀𝕊𝕊𝕆𝕌ℝ𝕀

</pre>
        <nav class="navigation__main">
            <a href="projects.html">projects</a>
            </br>
            <a href="writing.html">writing</a>
        </nav>
        </body>
    </header>
    <section>
        {{ content }}
    </section>

</div>
</body>

</html>